---
import { prefetch } from "astro:prefetch";
import { PROJECTS } from "../utils/proyectos.ts";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/GitHub.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<div class="max-w-4xl mx-auto">
    <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div
            class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96"
        >
            {
                PROJECTS.map((project, index) => {
                    return (
                        <div
                            class="hidden duration-700 ease-in-out"
                            data-carousel-item={index}
                        >
                            <div class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" />

                            <div class="bg-sky-200/80 px-20 py-4 rounded h-full text-gray-900 flex flex-col justify-between">
                                <section class="flex gap-4 items-center ">
                                    <div class="w-1/2 ">
                                        {project.video && !project.image ? (
                                            <YouTube
                                                class="rounded-lg "
                                                id={project.video}
                                            />
                                        ) : (
                                            project.image && (
                                                <img
                                                    class="rounded-lg flex"
                                                    src={project.image}
                                                    alt={project.alt}
                                                />
                                            )
                                        )}
                                    </div>
                                    <div class="w-1/2">
                                        <h2 class="text-2xl font-bold mb-2">
                                            {project.title}
                                        </h2>

                                        <p class=" mb-4 ">
                                            {project.description}
                                        </p>
                                    </div>
                                </section>

                                <footer class="mb-10 pt-3">
                                    <a
                                        href={project.github}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >
                                        <GitHubIcon class="size-4 md:size-6 text-gray-900 " />
                                    </a>
                                </footer>
                            </div>
                        </div>
                    );
                })
            }
        </div>
        <!-- Slider indicators -->
        <div
            class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2"
        >
            {
                PROJECTS.map((_, index) => {
                    return (
                        <button
                            type="button"
                            class="w-3 h-3 rounded-full"
                            aria-current="false"
                            aria-label={`Slide ${index + 1}`}
                            data-carousel-slide-to={index}
                        />
                    );
                })
            }
        </div>
        <!-- Slider controls -->
        <button
            type="button"
            class="flex absolute top-0 left-0 z-30 justify-center items-center pl-4 h-full cursor-pointer group focus:outline-none"
            data-carousel-prev
        >
            <span
                class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 19l-7-7 7-7"></path></svg
                >
                <span class="hidden">Previous</span>
            </span>
        </button>
        <button
            type="button"
            class="flex absolute top-0 right-0 z-30 justify-center items-center pr-4 h-full cursor-pointer group focus:outline-none"
            data-carousel-next
        >
            <span
                class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"></path></svg
                >
                <span class="hidden">Next</span>
            </span>
        </button>
    </div>
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>
